{:lint-as {ai.obney.grain.schema-util.interface/defschemas clojure.core/def
           ai.obney.grain.clj-dspy.interface/defsignature clojure.core/def
           ai.obney.grain.clj-dspy.interface/defmodel clojure.core/def
           ai.obney.grain.clj-dspy.core/defsignature clojure.core/def
           ai.obney.grain.clj-dspy.core/defmodel clojure.core/def}

 :config-paths ["../projects/grain-core/resources/clj-kondo.exports/ai.obney.grain/grain-core"]}