{:paths ["src" "resources"]
 :deps {cat/schema-util {:local/root "../schema-util"}
        metosin/malli {:mvn/version "0.16.4"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
