{:paths ["resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}

        ;; v2 processors (event-store-v3 / multi-tenant)
        gcv2/command-processor-v2 {:local/root "../../components/command-processor-v2"}
        gcv2/read-model-processor-v2 {:local/root "../../components/read-model-processor-v2"}
        gcv2/todo-processor-v2 {:local/root "../../components/todo-processor-v2"}
        gcv2/command-request-handler-v2 {:local/root "../../components/command-request-handler-v2"}

        ;; Shared / version-agnostic
        gcv2/query-processor {:local/root "../../components/query-processor"}
        gcv2/query-request-handler {:local/root "../../components/query-request-handler"}
        gcv2/query-schema {:local/root "../../components/query-schema"}
        gcv2/event-store-v3 {:local/root "../../components/event-store-v3"}
        gcv2/anomalies {:local/root "../../components/anomalies"}
        gcv2/time {:local/root "../../components/time"}
        gcv2/schema-util {:local/root "../../components/schema-util"}
        gcv2/core-async-thread-pool {:local/root "../../components/core-async-thread-pool"}
        gcv2/webserver {:local/root "../../components/webserver"}
        gcv2/pubsub {:local/root "../../components/pubsub"}
        gcv2/periodic-task {:local/root "../../components/periodic-task"}
        gcv2/kv-store {:local/root "../../components/kv-store"}
        gcv2/kv-store-lmdb {:local/root "../../components/kv-store-lmdb"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
