{:paths ["resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}

        ;; v2 processors (event-store-v3 / multi-tenant)
        poly/command-processor-v2 {:local/root "../../components/command-processor-v2"}
        poly/read-model-processor-v2 {:local/root "../../components/read-model-processor-v2"}
        poly/todo-processor-v2 {:local/root "../../components/todo-processor-v2"}
        poly/command-request-handler-v2 {:local/root "../../components/command-request-handler-v2"}

        ;; Shared / version-agnostic
        poly/query-processor {:local/root "../../components/query-processor"}
        poly/query-request-handler {:local/root "../../components/query-request-handler"}
        poly/query-schema {:local/root "../../components/query-schema"}
        poly/event-store-v3 {:local/root "../../components/event-store-v3"}
        poly/anomalies {:local/root "../../components/anomalies"}
        poly/time {:local/root "../../components/time"}
        poly/schema-util {:local/root "../../components/schema-util"}
        poly/core-async-thread-pool {:local/root "../../components/core-async-thread-pool"}
        poly/webserver {:local/root "../../components/webserver"}
        poly/pubsub {:local/root "../../components/pubsub"}
        poly/periodic-task {:local/root "../../components/periodic-task"}
        poly/kv-store {:local/root "../../components/kv-store"}
        poly/kv-store-lmdb {:local/root "../../components/kv-store-lmdb"}
        poly/control-plane {:local/root "../../components/control-plane"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
