{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"} 
        org.clojure/data.json {:mvn/version "2.5.1"}
        metosin/malli {:mvn/version "0.16.4"}}

 :aliases {:test {:extra-paths ["test" "test/resources"]
                  :extra-deps {}
                  :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                             "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}}}
