{:paths ["src" "resources"]
 :deps {com.brunobonacci/mulog {:mvn/version "0.9.0"}
        com.cognitect/anomalies {:mvn/version "0.1.12"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
