{:paths ["resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}

        ;; Control plane
        control-plane/control-plane {:local/root "../../components/control-plane"}

        ;; Dependencies
        control-plane/event-store-v3 {:local/root "../../components/event-store-v3"}
        control-plane/read-model-processor-v2 {:local/root "../../components/read-model-processor-v2"}
        control-plane/todo-processor-v2 {:local/root "../../components/todo-processor-v2"}
        control-plane/periodic-task {:local/root "../../components/periodic-task"}
        control-plane/pubsub {:local/root "../../components/pubsub"}
        control-plane/kv-store {:local/root "../../components/kv-store"}
        control-plane/kv-store-lmdb {:local/root "../../components/kv-store-lmdb"}
        control-plane/anomalies {:local/root "../../components/anomalies"}
        control-plane/schema-util {:local/root "../../components/schema-util"}
        control-plane/time {:local/root "../../components/time"}
        control-plane/core-async-thread-pool {:local/root "../../components/core-async-thread-pool"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
