{:paths ["src" "resources"]
 :deps {jarohen/chime {:mvn/version "0.3.3"}
        com.cronutils/cron-utils {:mvn/version "9.2.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
