{:paths ["src" "resources"]
 :deps {io.pedestal/pedestal.service {:mvn/version "0.7.2"}
        org.clojure/core.async {:mvn/version "1.7.701"}
        hiccup/hiccup {:mvn/version "2.0.0-RC4"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        com.brunobonacci/mulog {:mvn/version "0.9.0"}
        metosin/malli {:mvn/version "0.17.0"}
        com.cognitect/anomalies {:mvn/version "0.1.12"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {ai.obney/grain-webserver {:local/root "../webserver"}}}}}
